<a href="https://colab.research.google.com/github/Azeemazeem17/colab_work/blob/main/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
dict2 ={'zero':0,'one':1,'two':2,'three':3,'four':4,'five':5,'six':6,'seven':7,'eight':8,'nine':9}
 otp=input("enter otp")
  otpn=otp.split(" ")
   print(dict2[otpn[Î¸]],dict2[otpn[17]], dict2[otpn[2]],dict2[otpn[3]])

IndentationError: unexpected indent (ipython-input-3406572952.py, line 2)

In [ ]:
age = age
if age == age:
    print("age")
elif age < 11:
  print('crct')
else:
  print('not greater')

crct

In [ ]:
name = input("Enter your name: ")

if len(name) > 10:
    print("Your name is more than 10 characters long.")
else:
    print("Your name is 10 or fewer characters long.")

Enter your name: mohammed azeem
Your name is more than 10 characters long.

In [ ]:
railway_24 = input("Enter time in 24-hour format (HH:MM): ")
hours, minutes = map(int, railway_24.split(":"))
if hours == 0:
    converted_hours = 12
    period = "AM"
elif hours < 12:
    converted_hours = hours
    period = "AM"
elif hours == 12:
    converted_hours = 12
    period = "PM"
else:
    converted_hours = hours - 12
    period = "PM"
print(f"{converted_hours:02d}:{minutes:02d} {period}")

Enter time in 24-hour format (HH:MM): 16:53
04:53 PM

In [ ]:
def is_palindrome(text):
    reversed_text = text[::-1]
    if text == reversed_text:
        print("It is a palindrome")
    else:
        print("It is not a palindrome")

# Example usage:
user_input = input("Enter a word: ")
is_palindrome(user_input)

Enter a word: mam
It is a palindrome

In [ ]:
string = input("enter u'r string")
reverse_str = string [::-1]
if(string == reverse_str):
 print("the world is palindrome")
else:
 print("the world is not palindrome")

enter u'r stringmam
the world is palindrome

In [ ]:
color = input('enter a color')
if ((color == 'red') or (color == 'green') or (color == 'blue')):
 print('this is primary color')
else:
 print('this not a primary color')

enter a colorgreen
this is primary color

In [ ]:
Mf_date = input("enter the MFD").split("/")
day = Mf_date[O]
month = Mf_date[1]
Year= Mf_date[2]
if ((year < 2024) or(month< 2)):
 print("This product got expired")
elif (day <=7) and (month == 2):
 print("This product is not expired")
else:
 print("This product is not expired")

enter the MFDsx

NameError: name 'O' is not defined

In [ ]:
Mf_date = input("Enter the MFD (DD/MM/YYYY): ").split("/")
day = int(Mf_date[0])
month = int(Mf_date[1])
year = int(Mf_date[2])

if (year < 2024) or (month < 2 and year == 2024):
    print("This product got expired")
elif (day <= 7) and (month == 2 and year == 2024):
    print("This product is not expired")
else:
    print("This product is not expired")

Enter the MFD (DD/MM/YYYY): 12/02/2005
This product got expired

In [ ]:
a =3
print('a contains {}'.format(a))

a contains 3

In [ ]:
print('hello')
print('hii',end='_')
print('welcome')

hello
hii_welcome

In [ ]:
a = 5
b = str(a)
print(b, type(b))

5 <class 'str'>

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
x = [1,2,3]
x.append(4)
print(x)
x.extend([5,6])
print(x)

[1, 2, 3, 4]
[1, 2, 3, 4, 5, 6]

In [ ]:
railway_24 = input("Enter time in 24-hour format (HH:MM): ")
hours, minutes = map(int, railway_24.split(":"))
if hours == 0:
    converted_hours = 12
    period = "AM"
elif hours < 12:
    converted_hours = hours
    period = "AM"
elif hours == 12:
    converted_hours = 12
    period = "PM"
else:
    converted_hours = hours - 12
    period = "PM"
print(f"{converted_hours:02d}:{minutes:02d} {period}")

Enter time in 24-hour format (HH:MM): 323131

ValueError: not enough values to unpack (expected 2, got 1)

In [ ]:
text = input("Enter a string: ")
reversed_text = text[::-1]

if text == reversed_text:
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: mam
The string is a palindrome.

In [ ]:
from datetime import datetime

date_string = input("Enter a date in dd/mm/yyyy format: ")

date_object = datetime.strptime(date_string, "%d/%m/%Y")

format1 = date_object.strftime("-%m-%d-%Y")
format2 = date_object.strftime("-%d-%m-%Y")
format3 = date_object.strftime("%Y-%d-%m")

print(f"Original date: {date_string}")
print(f"Format -mm-dd-yyyy: {format1}")
print(f"Format -dd-mm-yyyy: {format2}")
print(f"Format yyyy-dd-mm: {format3}")

Enter a date in dd/mm/yyyy format: 05/08/2025
Original date: 05/08/2025
Format -mm-dd-yyyy: -08-05-2025
Format -dd-mm-yyyy: -05-08-2025
Format yyyy-dd-mm: 2025-05-08

In [ ]:
from typing_extensions import dataclass_transform
date_input = input("Enter date in dd/mm/yyyy format: ")
day, month, year = date_input.split("/")
format1 = f"-{month}-{day}-{year}"
format2 = f"-{day}-{month}-{year}"
format3 = f"{year}-{day}-{month}"
print("Converted Formats:")
print("Format -mm-dd-yyyy:", format1)
print("Format -dd-mm-yyyy:", format2)
print("Format yyyy-dd-mm:", format3)

Enter date in dd/mm/yyyy format: 05/08/2025
Converted Formats:
Format -mm-dd-yyyy: -08-05-2025
Format -dd-mm-yyyy: -05-08-2025
Format yyyy-dd-mm: 2025-05-08